$spacing: 15px;
$loginBg: #000;
$loginBtn: #d2691d;
$navbarBg: #1a1a1b;
$primary: #4a86e8;
$secondary: #DB5E31;
$navColor: #ffff;
$deleteRed: #f53649;
$acceptGreen: #23d160;
$bodyColor: rgb(31, 31, 31);
$bg-height: 100vh;  
// mobile
$bp-mob: 320px;
// tablet
$bp-tab: 768px;
// desktop
$bp-dsk: 1024px;
// fullhd
$bp-fhd: 1440px;
